name: CI

on: [push, pull_request]

jobs:
  build:
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-22.04
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        php: ['8.0', '8.1', '8.2', '8.3', '8.4', '8.5']

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.30.0
        with:
          php-version: ${{ matrix.php }}

      - name: Cache Composer packages
        uses: actions/cache@v4
        with:
          path: "~/.cache/composer"
          key: "php-${{ matrix.php }}-composer-v2-${{ hashFiles('**/composer.json') }}"
          restore-keys: "php-${{ matrix.php }}-composer-v2-"

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Run PHPStan
        run: ./vendor/bin/phpstan analyze --no-progress

      - name: Run PHPUnit
        run: vendor/bin/phpunit
